
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --linear: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
body{
    background-color: rgba(26, 11, 46, 1);
    color: white;
    font-family: "Open Sans", sans-serif;
}
.shared-color{
    color: rgb(223, 218, 218)
}
.tech-wave p{
    font-size: 35px;
    font-weight: 900;
}
.wave-color {
  background: var(--linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.primary-btn{
    background: var(--linear);
}
.subs-btn{
    color: white;
    font-size: 14px;
    border-radius: 1000px;
    padding: 10px 12px;
    border: none;
}
ul{
    display: flex;
    text-decoration: none;
    gap: 32px;
    align-items: center;
}
li{
    list-style: none;
}
.nav-div{
    
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    padding: 20px 0;
}
nav{
   
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
    
}
button {
  transition: transform 0.2s ease, filter 0.2s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.three-dot{
    
    display: none;
}
.banner-btn img{
    width: 18px;
    height: 16px;
}
.banner-btn button span{
    font-size: 15px;

}
.banner-btn button{
    border-radius: 10000px;
    padding: 10px 18px;
}
.banner-btn-one{
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.banner-btn-two{
    font-weight: 600;
    color: rgb(34, 248, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgb(34, 248, 34);
}
.banner-btn{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 80px;
}
.banner{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
    
}
.back-img span{
    background-color: rgb(68, 255, 68);
    color: black;
    border-radius: 500px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 220px;
    top: 20px;
    
}

.back-img{
    margin-top: 80px;
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url(assets/hero-circle.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.back-img img{
    height: 150px;
    width: 90px;
    margin-left: 105px;
    margin-top: 70px;

}
.first-heading{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 800;
}
.first-txt{
    margin-top: 6px;
}
.podcast{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}
.podcast-heading{
font-size: 35px;
font-weight: 800;
margin-bottom: 20px;
}
.first-para{
    
    margin-bottom: 20px;
    text-align: center;
}
.second-para{
    
    margin-bottom: 80px;
    text-align: center;
}
.card-info h3{
    font-size: 35px;
    font-weight: 900;
    color: rgb(68, 255, 68);
    margin-bottom: 20px;
}
.fa-star{
    font-size: 28px;
}
.podcast-card{
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-top:1px solid  rgba(65, 37, 103, 1);
    padding: 60px 20px;

}
.reason{
        background-color: #230E3D;
}
.reason-txt{
    text-align: center;
    font-size: 35px;
font-weight: 700;
margin-top: 20px;
margin-bottom: 60px;
}
.reason-card div h4{
    font-size: 20px;
    font-weight: 700;
}
.reason-card div p{
font-weight: 400;
line-height: 24px;
}
.reason-card{
    

    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 60px;
}
.reason-card div{
    background-color: rgba(50, 17, 101, 0.4);
    border-radius: 20px;
    padding: 20px;
   

}
.r-card1{
    grid-row: span 2;
}
 .r-card2{
    grid-column: span 2;
}
.r-card3{
    grid-column: span 2;
} 
.r-card4{
    grid-column: span 2;
}
.r-c img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.r-c h4{
    margin-bottom: 20px;
}
.left{
    margin-left: 20px;
    margin-right: 20px;
}
.feature-txt{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 35px;
}
.feature-card-info-p{
    margin-left: 20px;
    margin-right: 20px;
}
.color-txt{
    color:rgb(68, 255, 68) ;
}
.small-watch{
    margin-left: 20px;
}
.feature-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.feature{
    max-width: 1120px;
    margin: 0 auto;
}
.feature-card-info{
    background-color: #230E3D;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
   

 
}
.wrap{
    border-radius: 20px;
    overflow: hidden;
}
.small-watch{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    
}
.feature-card-info h2{
    font-size: 20px;
}
.wrap {
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.wrap iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.yt-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.yt-overlay i {
  font-size: 70px;
  background: var(--linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}
.host-txt{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 40px;
}
.socials i {
    background: var(--linear);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}
.socials div {
    border: 1px solid gold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}
.socials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.description{
    display: flex;
    flex-direction: column;
    
}
.description h4{
    font-size: 29px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
.description p{
    margin-bottom: 20px;
}
.host{
    background-color: #230E3D;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 40px;
}
.platform div{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.platform{
    display: grid;
    grid-template-columns: repeat(4,140px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 22px;
}
.footer-img{
    width: 20%;
    margin-top: 60px;
    margin-bottom: 65px;
}
hr{
    border: 1px solid gray;
    max-width: 400px;
    margin: 0 auto;
}
.footer{
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 50px;
}
iframe{
    border-radius: 20px 20px 0px 0px;
}
@keyframes headingPulse {
  0% {
    transform: scale(1);
    background-position: 0% 50%;
  }
  50% {
    transform: scale(1.06);
    background-position: 100% 50%;
  }
  100% {
    transform: scale(1);
    background-position: 0% 50%;
  }
}


.podcast-heading {
  background: var(--linear);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: headingPulse 1s ease-in-out infinite;
}


@media screen and (max-width: 576px){
    button:active {
    transform: scale(1.03);
    filter: brightness(1.05);
  }

 nav{
    grid-template-columns: auto 1fr auto;
 }
 .three-dot{
    display: block;
    justify-self: end;
 }
 .list, .btn{
    display: none;
 }
 .tech-wave p{
    font-size: 22px;
    font-weight: 600;
}
 .nav-div{
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
 }
 .first-heading{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
 }
 .first-txt{
    line-height: 15px;
    margin-top: 4px;
    font-size: 10px;
    text-align: center;
 }
 .back-img{
    
    width: 140px;
    height: 140px;
   margin-top: 8px;

 }
 .back-img img{
    

    height: 70px;
    width: 40px;
    margin-left: 50px;
    margin-top: 40px;
 }
 .back-img span{
    background-color: rgb(68, 255, 68);
    color: black;
    border-radius: 500px;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: 500;
    left: 110px;
    top: 18px;
    
}
.banner{
  
    
    background-image: url(assets/hero-bg.png);
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.banner-btn{
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.banner-btn-one{
    font-weight: 500;
    color: white;
    font-size: 10px;
}
.banner-btn-two{
    font-weight: 500;
    border: 1px solid rgb(34, 248, 34);
    font-size: 10px;
}
.banner-btn img{
    width: 16px;
    height: 14px;
}
.podcast{
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.podcast-heading{
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
}
.first-para{
    
    margin-bottom: 10px;
    text-align: center;
}
.second-para{
    
    margin-bottom: 10px;
    text-align: center;
}
.card-info h3{
    font-size: 20px;
    font-weight: 700;
    color: rgb(68, 255, 68);
    margin-bottom: 4px;
}
.fa-star{
    font-size: 13px;
}
.podcast-card{
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 15px;
   
    border-top:1px solid  rgba(65, 37, 103, 1);
    padding: 10px 20px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
   
}
.card-info p{
    font-size: 10px;
}
.reason-txt{
    text-align: center;
    font-size: 20px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 20px;
}
.reason-card div h4{
    font-size: 14px;
    font-weight: 600;
}
.reason-card div p{
    font-size: 10PX;
font-weight: 300;
line-height: 15px;
}
.reason-card{

    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}
.reason-card div{
    background-color: rgba(50, 17, 101, 0.4);
    border-radius: 10px;
    padding: 10px;
   

}
.r-card1{
    grid-row: span 1;
}
 .r-card2{
    grid-column: span 1;
}
.r-card3{
    grid-column: span 1;
} 
.r-card4{
    grid-column: span 1;
}
.r-c img{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.r-c h4{
    margin-bottom: 10px;
}
.left{
    margin-left: 15px;
    margin-right: 15px;
}
.feature-txt{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.feature-card-info-p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
}
.color-txt{
    color:rgb(68, 255, 68) ;
}
.small-watch{
    margin-left: 15px;
}
.feature-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.feature-card-info{
    background-color: #230E3D;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
   

 
}
.wrap{
    border-radius: 10px;
    overflow: hidden;
}
.small-watch{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
    
}
.feature-card-info h2{
    font-size: 16px;
}
.wrap {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.wrap iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 10px 10px 0 0;
}

.yt-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.yt-overlay i {
  font-size: 70px;
  background: var(--linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

.first-para, .second-para{
    font-size: 10px;
}
.small-watch p{
    font-size: 10px;
}
.host-txt{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}
.socials i {
    font-size: smaller;
    background: var(--linear);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}
.socials div {
    border: 1px solid gold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.description h4{
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.description p{
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.host{
   
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 20px;
}
.platform div{
    display: flex;
    gap: 2px;
    font-size: 10px;
}
.platform{
    display: grid;
    grid-template-columns: repeat(2,100px);
   
    justify-content: center;
    justify-items: center;
    gap: 2px;
    
    /* margin-top: 50px; */
}
.footer-img{
    width: 35%;
    margin-top: 30px;
    margin-bottom: 45px;
}
hr{
    border: 1px solid gray;
    max-width: 200px;
    margin: 0 auto;
}
.footer{
    background-image: url(assets/footer-bg.png);
    width: 100%;
    
    
    background-size: contain;

    background-repeat: no-repeat;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 20px;
}
.foot{
    background-color: #230E3D;
}
.foot p{
    font-size: 10px;
}
}


