*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --linear: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
body{
    background-color: rgba(26, 11, 46, 1);
    color: white;
}
.tech-wave p{
    font-size: 32px;
    font-weight: 600;
}
.wave-color {
  background: var(--linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.primary-btn{
    background: var(--linear);
}
.subs-btn{
    color: white;
    font-size: 14px;
    border-radius: 1000px;
    padding: 10px 12px;
    border: none;
}
ul{
    display: flex;
    text-decoration: none;
    gap: 32px;
    align-items: center;
}
li{
    list-style: none;
}
.nav-div{
    
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    padding: 20px 0;
}
nav{
   
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
    
}
.three-dot{
    
    display: none;
}
.banner-btn img{
    width: 18px;
    height: 16px;
}
.banner-btn button span{
    font-size: 15px;

}
.banner-btn button{
    border-radius: 10000px;
    padding: 10px 18px;
}
.banner-btn-one{
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.banner-btn-two{
    font-weight: 600;
    color: rgb(34, 248, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgb(34, 248, 34);
}
.banner-btn{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 80px;
}
.banner{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
    
}
.back-img span{
    background-color: rgb(68, 255, 68);
    color: black;
    border-radius: 500px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 220px;
    top: 20px;
    
}

.back-img{
    margin-top: 80px;
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url(assets/hero-circle.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.back-img img{
    height: 150px;
    width: 90px;
    margin-left: 105px;
    margin-top: 70px;

}
.first-heading{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 800;
}
.first-txt{
    margin-top: 6px;
}

@media screen and (max-width: 576px){
 nav{
    grid-template-columns: auto 1fr auto;
 }
 .three-dot{
    display: block;
    justify-self: end;
 }
 .list, .btn{
    display: none;
 }
 .nav-div{
    padding: 10px 20px;
 }
 .first-heading{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
 }
 .first-txt{
    line-height: 15px;
    margin-top: 4px;
    font-size: 9x;
    text-align: center;
 }
 .back-img{
    
    width: 140px;
    height: 140px;
   margin-top: 8px;

 }
 .back-img img{
    

    height: 70px;
    width: 40px;
    margin-left: 50px;
    margin-top: 40px;
 }
 .back-img span{
    background-color: rgb(68, 255, 68);
    color: black;
    border-radius: 500px;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: 500;
    left: 110px;
    top: 18px;
    
}
.banner{
  
    
    background-image: url(assets/hero-bg.png);
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
    padding: 0 10px;
    
    
}
.banner-btn{
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.banner-btn-one{
    font-weight: 500;
    color: white;
    font-size: 10px;
}
.banner-btn-two{
    font-weight: 500;
    border: 1px solid rgb(34, 248, 34);
    font-size: 10px;
}
.banner-btn img{
    width: 16px;
    height: 14px;
}

}